
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html { font-family: "Concert One", sans-serif;
}

/* LAYOUT */

body * {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #5CCBF2;
}

.container {
    width: 1420px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    width: calc(100% / 3);
    margin-bottom: 40px;
}

.col-4 {
    width: 30%;
    
}   

.col-8 {
    width: 80%;
    margin-right: 40px;
    background-color: black;
    padding-left: 24px;
}

img {
    width: 100%;
    display: block;
}

.card-body {
height: 100%;
display: flex;
flex-direction: column;
gap: 10px;
padding-top: 10px;
padding-bottom: 10px;

}


/* Content */

.main_title {
    font-size: 50px;
    text-align: center;
    color: #E53170;
    margin: 78px;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    margin-bottom: 84px;
    font-weight: lighter;
}

/* Classi Debug */

/* .debug {
    border: 2px solid black;
} */

.card p {
    display: inline;
    color: white;
}

h2 {
    color: white;
}